################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programs/Skeleton/.vs/Skeleton/v15/Browse.VC.opendb
